/* 전체 레이아웃 */
body {
  font-family: 'Gaegu', sans-serif; /* 글씨체를 Gaegu로 변경 */
  background-color: #f4f7dd;
  color: #333;
  margin: 0;
  padding: 0;
   font-size: 1.5em; /* 글씨체 변경하니 글씨가 작아져서 늘림 */
}

/* 헤더 */
header {
  background-color: #f4f7dd;
  color: rgb(73, 72, 72);
  /* padding: 20px; */
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: 1px 1px 1px rgb(232, 232, 232);
}

header h1 {
  margin: 0;
  flex: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: rgb(65, 65, 65);
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover {
  font-size: 1.1em;
  font-weight: bold;
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #94a36c;
  color: white;
  display: flex;
  justify-content: flex-end; /* 우측 정렬 */
}


/* 이미지와 설명 담는 카드 */
.white-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center; /* 상하 중앙 정렬 */
}


/* 클릭하는 모든 이미지 */
.clickable-img{
  width: 80px;
  border-radius: 100%;
  overflow: hidden;  /*넘치는거 안보이게 */
  opacity: 70%;
  position: relative; /*hover의 이동을 위함*/
  transition: all 0.5s; /*동작시간*/
}

/*이미지 커서 올릴시에, 위로 10px 이동하고 검은색 그림자가 생성*/
.clickable-img:hover{
  top: -10px;
  box-shadow: 0 0px 20px black;
}


/* 수직으로 작성 및 중앙정렬 */
.array-column {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;     /* 수직 중앙 정렬 (필요한 경우) */
  margin-bottom: 30px;
}


